<div style="background-color: lightgrey;">
  <div  class="row mt-2" >
    <div  class="col-2 ml-2 d-none d-lg-block mt-2 ml-4">
      <div  class="row bg-white border-bottom pt-2 pb-2">
        <div  class="col" style="font-size: 18px;
      text-transform: capitalize;
      width: 67%;font-weight: 500;"> Filters </div>
      </div>
      <div  class="row bg-white pt-2 pb-2">
       
        <div  class="col-9">
          <div  class="checkbox"><label ><input 
              type="checkbox" [(ngModel)]="assure" (change)="assureSelect()">&nbsp;<img 
                src="https://i.ibb.co/t8bPSBN/fa-8b4b59.png" style="width: 80px;height:21px"></label></div>
        </div>
        <div  class="col-3"><span  class="question"> ? </span></div>
      </div>
      <app-leftpanel  [processorCB]="processorStructure" [ratingCB]="ratingStructure" [priceCB]="priceStructure"  (optSel)="optChange()"></app-leftpanel>
    </div>
    <div  class="col-lg-9 col-12 bg-white ml-1 mt-2">
      <div  class="row">
         <div  class="col">
            <nav  aria-label="breadcrumb" style="font-size: 10px;background-color: white;">
             <ol  class="breadcrumb bg-white"><li  class="breadcrumb-item"><a  href="#">Home</a></li>
               <li  class="breadcrumb-item"><a  routerLink="/home/Laptops" routerLinkActive="active">Laptops</a></li>
               <li  aria-current="page" class="breadcrumb-item active" > {{brand}} </li></ol>
            </nav>
         </div>
       </div>
     <div  class="row">
       <div  class="col" *ngIf="brand">{{brand}} Laptops</div>
       <div  class="col" *ngIf="!brand">Laptops</div>
       </div>
       <div  class="row pb-1 border-bottom " style="font-size: 14px;">
         <div  class="col-2 d-none d-lg-block" (click)="sortBy('sort')"><strong >Sort By</strong></div>
         <div  style="cursor: pointer; border-bottom: 5px" class="col-1 d-none d-lg-block {{showcolor1 ? 'text-primary':''}}" (click)="sortBy('popularity')"> Popularity </div>
         <div  style="cursor: pointer;" class="col-2   d-none d-lg-block {{showcolor2 ? 'text-primary':''}}" (click)="sortBy('desc')"> Price High to Low </div>
         <div  style="cursor: pointer;" class="col-2  d-none d-lg-block {{showcolor3 ? 'text-primary':''}}" (click)="sortBy('asc')"> Price Low to High </div>
       </div>
         <div *ngFor="let show of details;index as i">
          <div  class="row" >
           <div  class="col-lg-2 col-9 text-center">
           <img   routerLink="/home/Laptops/{{show.brand}}/{{show.id}}" style="height:100px;width:100px;cursor: pointer;outline: none;"  src={{show.img}}>
           </div>
           <div  class="col-lg-1 col-2" ><i  class="fa fa-heart {{show.like ? 'text-danger':'text-secondary'}}" (click)="like(i)"></i></div>
          
           <div  class="col-lg-5 col-12 text-left">
              <div  class="row">
                 <div  class="col" style="font-size:16px;cursor: pointer; outline: none;"><span  id="namecss" routerLink="/home/Mobiles/{{show.brand}}/{{show.id}}" >{{show.name}}</span>
                 </div>
              </div>
              <div  class="row">
                <div  class="col"><span  style="line-height: normal;
                   display: inline-block;
                     color: #fff;
                     padding: 2px 4px 2px 6px;
                      border-radius: 3px;
                     font-weight: 500;
                     font-size: 12px;
                   vertical-align: middle;
                   background-color: #388e3c">
                   <strong >{{show.rating}}&nbsp;
                     <img  src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMyIgaGVpZ2h0PSIxMiI+PHBhdGggZmlsbD0iI0ZGRiIgZD0iTTYuNSA5LjQzOWwtMy42NzQgMi4yMy45NC00LjI2LTMuMjEtMi44ODMgNC4yNTQtLjQwNEw2LjUuMTEybDEuNjkgNC4wMSA0LjI1NC40MDQtMy4yMSAyLjg4Mi45NCA0LjI2eiIvPjwvc3ZnPg=="></strong>
                   </span> &nbsp;<span  class="text-muted">{{show.ratingDesc}}</span></div></div>
                   <ul  style="color: #c2c2c2;font-size: 12px;display: inline;padding: 0%;">
                   <li *ngFor="let detail of show.details">{{detail}}</li>
                   </ul>
                   </div>
                   <div  class="col-lg-3 col-12">
                     <div  class="row"><div  class="col" style="font-size: 25px;"><strong >₹{{show.price}}</strong>&nbsp; 
                     <span ><img  class="img-fluid" src="https://i.ibb.co/XCQBqSr/fa-8b4b59.png" style="width: 70px;"></span>
                     </div>
                     </div>
                     <div  class="row">
                       <div  class="col"><span  style="text-decoration: line-through;font-size: 14px;color: #878787;">{{show.prevPrice}}</span> &nbsp;<span  style="color: #388e3c;
    font-size: 13px;font-weight: 500;">{{show.discount}}%</span></div></div>
    <div  class="row" style="font-size: 14px;">
    <div  class="col">{{show.emi}}</div>
    </div>
    <div  class="row" style="font-size: 14px;">
    <div  class="col">{{show.exchange}}</div>
    </div>
  </div>
  </div>
  <hr>
  </div>
  
  
  <div  class="row" *ngIf="pageInfo">
    <div  class="col-lg-2 col-4" *ngIf="pageInfo.numberOfPages>0">Page {{page}} of {{pageInfo.numberOfPages}}</div>
    <div  class="col-8 p-0 text-center" style="cursor: pointer;
    line-height: 32px;
    height: 32px;
    width: 32px;
    border-radius: 50%;" >
    <span  class="{{p.showPage ? 'pagecss':''}}" *ngFor="let p of pages" (click)="goToPage(p.pagenum)">{{p.pagenum}}&nbsp;&nbsp;</span>
    <a  class="text-primary"  (click)="goToPage('next')" *ngIf="page<pageInfo.numberOfPages">Next</a>
  </div>
  </div>
  </div>
</div>