
<div  class="row  bg-white border-top">
  <div  class="col-10" *ngIf="ramCB">
    <div  class="row ml-1 pb-2" style="font-size: 13px;
font-weight: 500;
text-transform: uppercase;
letter-spacing: .3px;
display: inline-block;"> RAM </div>
   
    <div *ngIf="isExpanded1">
     
      <div  class="row form-check  pb-1" *ngFor="let ra of ramCB">
        <div  class="checkbox" style="vertical-align: middle;
font-size: 14px;
padding-left: 11px;
color: #212121;
display: inline-block;
width: calc(100% - 25px);
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
line-height: 1;
cursor: pointer;"><label  for="{{ra.ram}}"><input type="checkbox"  [(ngModel)]="ra.selected"
              id="{{ra.ram}}"
              value="ra.selected" (change)="eventChange()" >&nbsp;{{ra.ram}}
            </label></div>
      </div>
    </div>
  </div>
  <div  class="col-10" *ngIf="brandCB">
    <div  class="row ml-1 pb-2" style="font-size: 13px;
font-weight: 500;
text-transform: uppercase;
letter-spacing: .3px;
display: inline-block;"> Brand </div>
   
    <div *ngIf="isExpanded1">
     
      <div  class="row form-check  pb-1" *ngFor="let ra of brandCB">
        <div  class="checkbox" style="vertical-align: middle;
font-size: 14px;
padding-left: 11px;
color: #212121;
display: inline-block;
width: calc(100% - 25px);
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
line-height: 1;
cursor: pointer;"><label  for="{{ra.brand}}"><input type="checkbox"  [(ngModel)]="ra.selected"
              id="{{ra.brand}}"
              value="ra.selected" (change)="eventChange()" >&nbsp;{{ra.brand}}
            </label></div>
      </div>
    </div>
  </div>

  <div  class="col-10" *ngIf="processorCB">
    <div  class="row ml-1 pb-2" style="font-size: 13px;
font-weight: 500;
text-transform: uppercase;
letter-spacing: .3px;
display: inline-block;"> Processor </div>
   
    <div *ngIf="isExpanded1">
     
      <div  class="row form-check  pb-1" *ngFor="let ra of processorCB">
        <div  class="checkbox" style="vertical-align: middle;
font-size: 14px;
padding-left: 11px;
color: #212121;
display: inline-block;
width: calc(100% - 25px);
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
line-height: 1;
cursor: pointer;"><label  for="{{ra.processor}}"><input type="checkbox"  [(ngModel)]="ra.selected"
              id="{{ra.processor}}"
              value="ra.selected" (change)="eventChange()" >&nbsp;{{ra.processor}}
            </label></div>
      </div>
    </div>
  </div>

  <div  class="col-2 text-right"><span ><i 
        style="font-size: 10px;color:lightgrey;cursor:pointer" class="fa {{isExpanded1 ? 'fa-chevron-up':'fa-chevron-down' }}" (click)="toggle1()"></i></span></div>
</div>
<div  class="row border-top bg-white">
  <div  class="col-10">
    <div  class="row ml-1 pb-2" style="font-size: 13px;
font-weight: 500;
text-transform: uppercase;
letter-spacing: .3px;
display: inline-block;"> Customer Rating </div>
    <!---->
    <div *ngIf="isExpanded2">

      <div  class="row ml-1 pb-1" *ngFor="let item of ratingCB" >
        <div  class="checkbox" style="vertical-align: middle;
font-size: 14px;
padding-left: 11px;
color: #212121;
display: inline-block;
width: calc(100% - 25px);
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
line-height: 1;
cursor: pointer;"><label ><input  type="checkbox"[(ngModel)]="item.selected"
              id="{{item.rating}}"
              value="item.selected" (change)="eventChange()"
          >&nbsp;{{item.rating}}&nbsp;★ &amp; above</label></div>
      </div>
    </div>
  </div>
  <div  class="col-2 text-right"><span ><i 
        style="font-size: 10px;color:lightgrey;cursor:pointer" class="fa {{isExpanded2 ? 'fa-chevron-up':'fa-chevron-down' }}" (click)="toggle2()"></i></span></div>
</div>
<div  class="row border-top bg-white">
  <div  class="col-10">
    <div  class="row ml-1 pb-2" style="font-size: 13px;
font-weight: 500;
text-transform: uppercase;
letter-spacing: .3px;
display: inline-block;"> Price </div>
    <!---->
    <div *ngIf="isExpanded3">

      <div  class="row ml-1 pb-1" *ngFor="let item of priceCB">
        <div  class="checkbox" style="vertical-align: middle;
font-size: 14px;
padding-left: 11px;
color: #212121;
display: inline-block;
width: calc(100% - 25px);
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
line-height: 1;
cursor: pointer;"><label ><input  type="checkbox" [(ngModel)]="item.selected"
              id="{{item.price}}"
              value="item.selected" (change)="eventChange()">&nbsp;{{item.price}}</label></div>
      </div>
    </div>
  </div>
  <div  class="col-2 text-right"><span ><i 
        style="font-size: 10px;color:lightgrey;cursor:pointer"  class="fa {{isExpanded3 ? 'fa-chevron-up':'fa-chevron-down' }}" (click)="toggle3()"></i></span></div>
</div>

<!--
 <div class="row  d-none d-lg-block">
  <div class="col-10 text-center ml-4" style="background-color: white; padding: 5px;">
        <img src="https://i.ibb.co/Hry1kDH/17443322900502723126.jpg" class="img-fluid">
  </div>
</div>

<div class="row mt-4 mx-2">
  <div class="col bg-white d-none d-lg-block">
    <div class="zippy">
      <div class="zippy-heading style-{{hide1}}" [class.expanded]="isExpanded1" (click)="toggle1()">
        <i *ngIf="!isExpanded1"  class="fa fa-chevron-down "></i>  <i *ngIf="isExpanded1" class="fa fa-chevron-up"></i> &nbsp;&nbsp;&nbsp;&nbsp; Select Language
     </div>
      <div *ngIf="isExpanded1" class="zippy-body">
       <div *ngFor="let item of languageCB">
        <input type="checkbox" id="{{item.language}"
        value="item.selected"
       (change)="eventChange()"
        [(ngModel)]="item.selected" >
        {{item.language}}
       </div>
      </div>
    </div>
   </div>
</div>


<div class="row mt-4 mx-2">
  <div class="col bg-white d-none d-lg-block">
    <div class="zippy">
      <div class="zippy-heading style-{{hide2}}" [class.expanded]="isExpanded2" (click)="toggle2()">
        <i *ngIf="!isExpanded2"  class="fa fa-chevron-down"></i>  <i *ngIf="isExpanded2" class="fa fa-chevron-up"></i> &nbsp;&nbsp;&nbsp;&nbsp;Format
       
      </div>
      <div *ngIf="isExpanded2" class="zippy-body">
       <div *ngFor="let item of formatCB">
        <input type="checkbox" id="{{item.format}"
        value="item.selected"
       (change)="eventChange()"
        [(ngModel)]="item.selected" >
        {{item.format}}
       </div>
      </div>
    </div>
   </div>
</div>

<div class="row mt-4 mx-2">
  <div class="col bg-white d-none d-lg-block">
    <div class="zippy">
      <div class="zippy-heading style-{{hide3}}" [class.expanded]="isExpanded3" (click)="toggle3()">
        <i *ngIf="!isExpanded3"  class="fa fa-chevron-down"></i>  <i *ngIf="isExpanded3" class="fa fa-chevron-up"></i> &nbsp;&nbsp;&nbsp;&nbsp; Genre
       
      </div>
      <div *ngIf="isExpanded3" class="zippy-body">
       <div *ngFor="let item of genreCB">
        <input type="checkbox" id="{{item.genre}"
        value="item.selected"
       (change)="eventChange()"
        [(ngModel)]="item.selected" >
        {{item.genre}}
       </div>
      </div>
    </div>
 </div>
</div>
         -->